<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
 
</head>

<body>
    <div id="app">
        <p v-show="isShow">{{name}}  {{family}}</p>
        <!-- <button @click="toggleStatus" v-if="isShow" >Hide</button>
        <button @click="toggleStatus" v-if-else="name=='ali'">Show Ali </button>
        <button @click="toggleStatus" v-else>Show</button> -->
        <button @click="toggleStatus" >
            <span v-if="isShow">Hide</span>
            <span v-else-if="name=='ali'">Show Ali</span>
            <span v-else>Show</span>
        </button>

    </div>
    <script src="app.js"></script>
</body>

</html>